<% include partials/header %>




   <div class="container">

<header class="jumbotron">

    <div class="container">

        <h1>Welcome to the YelpCamp!</h1>

        <p>Pick up your dream campsite</p>

        <a class="btn btn-primary btn-large" href="/campgrounds/new">Create new campsite</a>

    </div>

</header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">

        <%campgrounds.forEach(function(camp){ %>

            <div class="col-md-3 col-sm-6">

                <div class="thumbnail">

                    <img src="<%=camp.image%>">

                    <div class="caption">

                     <h4><%=camp.name%></h4>

                    </div>
                      <p>
                      <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More info</a>
                      </p>
                </div>

            </div>

        <% })%>

    </div>   

</div>

<% include partials/footer %>