<% include ./partials/header %>


<div class="vid-container">
    <video class="bgvid" autoplay="autoplay" src="media/loginbackground.mp4" muted preload="auto" loop></video>
    <div class="inner-container">
        <div class="box animated jackInTheBox">
            <form action="/register" method="POST">
                <h1>SIGN UP</h1>
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button>SIGN UP</button>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>